*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(pic/gargantua-black-5200x3250-9621.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
}

.logo{
    width: 150px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
        text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.5),
        4px 4px 6px rgba(0,0,0,0.4),
        6px 6px 10px rgba(0, 0, 0, 0.3);
}

.login-btn{
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
    font-weight: 400;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #003380;
    background-image: linear-gradient(45deg, #312727, #ffffff);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.btn:hover{
    border-top-right-radius: 30px;
}

.content{
    margin-top: 10%;
    max-width: 600px;
}

.content h1{
    font-size: 70px;
    color: #ffffff;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.5),
        4px 4px 6px rgba(0,0,0,0.4),
        6px 6px 10px rgba(0, 0, 0, 0.3);
}

.content p{
    margin: 10px 0 30px;
    color: #ffffff;
     text-shadow: 
        2px 2px 4px rgba(0,0,0,0.5),
        4px 4px 6px rgba(0,0,0,0.4),
        6px 6px 10px rgba(0,0,0,0.3);
        
}

.content .btn{
    padding: 15px 80px;
    font-size: 16px;
}

.Features-img{
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 10%;
    background: transparent;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

.content p.anim{
    animation-delay: 0.5s;
}

.content .btn.anim{
    animation-delay: 1s;
}

.Features-img.anim{
    animation-delay: 1.5s;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.login-btn:hover {
    color: #ffdd57;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #ffdd57;
    transition: 0.3s;
}